.application{
    width: 100vw;
    height: 100vh;
    background: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add{
    position: absolute;
    top: 50px;
    right: 15px;
}
.register{
    width: 100vw;
    background: #337ebd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 25%;
    height: 50%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    align-items: center;
}
.input{
    min-width: 300px;
    width: 100%
}
.button{

    cursor: pointer;
    height: 40px;
    min-width: 300px;
    margin: 10px auto;
    border-radius: 10px;
    width: 100%;
    border: 0;
    outline: none;
    text-decoration: none;
    background: #337ebd;
    font-size: 18px;
    color: white;
}